{% extends 'base-store.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home</h1>

            <p>Developed and proposed for the first time in
                England by Stephen Lewis and Ken Heaton at
                the University Department of Medicine,
                Bristol Royal Infirmary, it</p>
            <p>The authors as a clinical assessment tool in
                1997 in the Scandinavian Journal of Gastroenterology
                after a previous prospective study, conducted in
                on a sample of the population (838 men and 1,059 women),
                had shown an unexpected prevalence</p>
            <p>Related to the shape and type of stool. The authors of
                the former paper concluded that the form of the stool
                is a useful surrogate measure of colon transit time.</p>
            <p>That conclusion has since been challenged as having limited
                validity for Types 1 and 2; however, it remains in use
                as a research tool to evaluate the effectiveness of
                treatments for various diseases of the bowel, as well as
                a clinical communication aid.</p>

        </div>
    </div>
</div>
{% endblock %}