{% extends 'base-main.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col s12">Blog</h1>

            <p>Type of stool. The authors of
            the former paper concluded that the form of the stool
            is a useful surrogate measure of colon transit time.
            That conclusion has since e Scandinavian Journal of Gastroenterology
            after a previous prospective study, conducted in
            on a sample of the</p>

    </div>
</div>

{% endblock %}