ansicon==1.89.0
blessed==1.19.1
distlib==0.3.4
filelock==3.4.2
inquirer==2.9.1
jinxed==1.1.0
platformdirs==2.5.0
prompt-tool-kit==1.0.14
Pygments==2.11.2
python-editor==1.0.4
python-inquirer==1.0.3
readchar==3.0.5
regex==2022.1.18
six==1.16.0
virtualenv==20.13.1
wcwidth==0.2.5
